<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
   xmlns:ui="http://java.sun.com/jsf/facelets">
<body>
<ui:composition> 
    <table width="800px">
        <tr>
            <td class="footer-nav" align="center" width="25%">#{msg.footer_impressum}</td>
            <td class="footer-nav" align="center" width="25%">#{msg.footer_contact}</td>
            <td class="footer-nav" align="center" width="25%">#{msg.footer_links}</td>
            <td class="footer-nav" align="center" width="25%">#{msg.footer_services}</td>
        </tr>
        <tr>
            <td align="center" class="footer" colspan="4">#{msg.application_title} - #{msg.application_version} - #{msg.footerCopyright}</td>
        </tr>
    </table>	
</ui:composition>	

</body>
</html>

