<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<body>

	<ui:composition>
		<h:form>
			<table width="800px">
				<tr>
					<td align="left" colspan="4"><h:graphicImage library="img"
							name="logo.png" /></td>
				</tr>
				<tr>
					<td class="header" align="right" colspan="4"><h:commandLink
							action="userProfile.xhtml"
							value="#{loginHandler.loggedInUser.firstName}'s #{msg.header_profile}" /><br></br>
						<h:commandLink action="showEntries.xhtml"
							value="#{msg.menueshowdiaryentries} : #{loginHandler.loggedInUser.currDiary.name}" />
					</td>
				</tr>
				<tr>
					<td class="header-nav" align="center"><h:commandLink
							action="flexdiary/welcome.xhtml?faces-redirect=true"
							value="#{msg.header_start}" /></td>
					<td class="header-nav" align="center"><h:commandLink
							action="flexdiary/welcome.xhtml?faces-redirect=true"
							value="#{msg.header_entries}" /></td>
					<td class="header-nav" align="center"><h:commandLink
							action="flexdiary/welcome.xhtml?faces-redirect=true"
							value="#{msg.header_help}" /></td>
					<td class="header-nav" align="center"><h:commandLink
							action="#{loginHandler.logout()}" value="#{msg.logout}" /></td>
				</tr>
			</table>
		</h:form>
	</ui:composition>

</body>
</html>

