/**
  * (c) Frank Meyer, 2014
  * All Rights Reserved
  * No part of this software or any of its contents may be reproduced, copied, 
  * modified or adapted, without the prior written consent of the author, 
  * unless otherwise indicated for stand-alone materials.
 */

/* 
    Created on : 02.02.2014, 17:09:42
    Author     : Frank Meyer
*/
body {
	font-family: Helvetica, sans-serif;
	font-size: 9
}

.footer {
	font-family: Helvetica, sans-serif;
	font-size: 8pt;
	font-style: italic;
	color: grey;
}

.footer-nav {
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
}

.header {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
}

.header-nav {
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}

.begruessung {
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
}

