<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
          xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    	<h:outputStylesheet library="css" name="standard.css" />
        <title>#{msg.application_title} - #{msg.welcome}</title>
    </h:head>
    <h:body>
        <h:outputLabel value="#{msg.application_title} (#{msg.application_version})." />
        <br />
        <br />
        <h:link outcome="login" value="Login to #{msg.application_title}" />
        <br />
        <br />
        <h:link outcome="registerNewUser" value="#{msg.registernewuser}" />
        <br />
        <br />
        <h:form>
        <h:commandButton action="#{initializeTestData.createTestData}" value="Testdaten erstellen" />
        </h:form>
    </h:body>
</html>

