<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<h:outputStylesheet library="css" name="standard.css" />
	<title>#{msg.application_title} - #{msg.login}</title>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2">
			<h:outputLabel value="#{msg.login_username}" for="login" />
			<h:inputText id="login" required="true"
				value="#{loginHandler.username}"
				requiredMessage="#{msg.error_missing_username}" />
			<h:outputLabel value="#{msg.login_password}" for="password" />
			<h:inputSecret id="password" required="true"
				value="#{loginHandler.password}"
				requiredMessage="#{msg.error_missing_password}" />

			<h:panelGroup />
			<h:commandButton action="#{loginHandler.login}" value="#{msg.login}" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>

