<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
                 
                <h:outputStylesheet library="css" name="standard.css" />
                <title>#{msg.application_title} - #{msg.windowtitle_registerNewUser}</title>
    </h:head>
    <h:body>
        <h:form>
        <h:outputLabel id="title" value="#{msg.windowtitle_registerNewUser}" />
        <h:panelGrid columns="2">
            <h:outputLabel  value="#{msg.username}"  />
            <h:inputText  value="#{registerNewUserHandler.userName}" required="true" />
            <h:outputLabel value="#{msg.userfirstname}" />
            <h:inputText value="#{registerNewUserHandler.firstName}" required="true" />
            <h:outputLabel value="#{msg.userlastname}" />
            <h:inputText value="#{registerNewUserHandler.lastName}" required="true" />
            <h:outputLabel value="#{msg.useremail}" />
            <h:inputText value="#{registerNewUserHandler.email}" required="true" >
                <f:validator validatorId="emailvalidation" />
            </h:inputText>
            <h:outputLabel value="#{msg.login_password}" />
            <h:inputSecret value="#{registerNewUserHandler.password}" required="true" >
                <f:validator validatorId="passwordchecker" />
            </h:inputSecret>
            <h:outputLabel value="#{msg.userretypedpassword}" />
            <h:inputSecret value="#{registerNewUserHandler.retypedpassword}" required="true" >
                <f:validator validatorId="passwordchecker" />
            </h:inputSecret>
        </h:panelGrid>
        <h:commandButton action="#{registerNewUserHandler.registerNewUser()}" value="#{msg.registernewuser}"  /> 
        </h:form>
    </h:body>
</html>

