<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
>
<h:head>
	<h:outputStylesheet library="css" name="standard.css" />
	<title>#{msg.application_title} - #{msg.header_profile}</title>
</h:head>
<h:body>
	<f:event listener="#{loginHandler.checkedLoggedIn}"
		type="preRenderView" />
	<h:panelGroup>
		<ui:include src="/WEB-INF/includes/header.xhtml" />
	</h:panelGroup>
	<br></br>
	<h:form>
		<h:panelGrid columns="2" style="width: 457px; ">
			<h:outputLabel value="#{msg.userfirstname}" for="fn" />
			<h:inputText id="fn" value="#{userProfileHandler.usrData.firstName}" />
			<h:outputLabel value="#{msg.userlastname}" for="ln" />
			<h:inputText id="ln" value="#{userProfileHandler.usrData.lastName}" />
			<h:outputLabel value="#{msg.userdateofbirth}" for="bd" />
			<p:calendar id="bd" value="#{userProfileHandler.usrData.dateOfBirth}"
				showOn="button" pattern="dd.MM.yyyy" style="font-size:9px" type="date">
				<f:convertDateTime pattern="dd.MM.yyyy" type="date" />
			</p:calendar>
			<h:outputLabel value="#{msg.useremail}" for="ue" />
			<h:inputText id="ue" value="#{userProfileHandler.usrData.email}" />
		</h:panelGrid>
		<h:panelGrid columns="3" style="width: 457px; ">
			<h:outputLabel value="#{msg.heigth}" for="hg" />
			<h:inputText value="#{userProfileHandler.usrData.height}" id="hg" />
			<h:selectOneMenu
				value="#{userProfileHandler.usrData.muHeight}"  id="hgm">
				<f:selectItems value="#{measureUnitHandler.hlocallist}" var="height"
    itemValue="#{height}" itemLabel="#{height.label}" />
  			</h:selectOneMenu>
			<h:outputLabel value="#{msg.weight}" for="wg" />
			<h:inputText value="#{userProfileHandler.usrData.weight}" id="wg" />
			<h:selectOneMenu
				value="#{userProfileHandler.usrData.muWeight}"  id="wgm">
				<f:selectItems value="#{measureUnitHandler.wlocallist}" var="weight"
    itemValue="#{weight}" itemLabel="#{weight.label}" />
			</h:selectOneMenu>
		</h:panelGrid>
		<h:panelGrid columns="2" style="width: 458px; ">
			<h:outputLabel value="#{msg.user_measure_insulin}" for="igm" />
			<h:selectOneMenu
				value="#{userProfileHandler.usrData.muInsulin}" 
				id="igm">
				<f:selectItems value="#{measureUnitHandler.ilocallist}" var="insulin"
    itemValue="#{insulin}" itemLabel="#{insulin.label}" />
			</h:selectOneMenu>
			<h:outputLabel value="#{msg.userbolusinsulin}" for="boi" />
			<h:inputText id="boi"
				value="#{userProfileHandler.usrData.bolusInsulin}" />
			<h:outputLabel value="#{msg.userbasalinsulin}" for="bai" />
			<h:inputText id="bai"
				value="#{userProfileHandler.usrData.basalInsulin}" />
			<h:outputLabel value="#{msg.user_measure_blodsugar}" for="bsgm"/>
			<h:selectOneMenu
				value="#{userProfileHandler.usrData.muBloodSugar}" 
				id="bsgm">
				<f:selectItems value="#{measureUnitHandler.bslocallist}" var="bloodsugar"
    itemValue="#{bloodsugar}" itemLabel="#{bloodsugar.label}" />
			</h:selectOneMenu>								
			<h:outputLabel value="#{msg.userminBloodGlucose}" for="uminbg" />
			<h:inputText id="uminbg"
				value="#{userProfileHandler.usrData.minBloodGlucose}" />
			<h:outputLabel value="#{msg.usertargetBloodGlucose}" for="utarbg" />
			<h:inputText id="utarbg"
				value="#{userProfileHandler.usrData.targetBloodGlucose}" />
			<h:outputLabel value="#{msg.usermaxBloodGlucose}" for="umaxbg" />
			<h:inputText id="umaxbg"
				value="#{userProfileHandler.usrData.maxBloodGlucose}" />
		</h:panelGrid>

		<h:commandButton action="#{userProfileHandler.updateProfile}"
			value="#{msg.action_save}" />
		<h:commandButton action="#{userProfileHandler.cancel}"
			value="#{msg.back}" />
	</h:form>

	<br></br>
	<br></br>
	<h:panelGroup>
		<ui:include src="/WEB-INF/includes/footer.xhtml" />
	</h:panelGroup>
</h:body>
</html>
